<header class="site-header navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="/">
    <img src="{{ '/assets/images/logo.png' | relative_url }}" width="50" height="50">
    <span>{{ site.title }}</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/" aria-label="Homepage">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/experience" aria-label="Experience">Experience</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/projects" aria-label="Projects">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/publications" aria-label="Publications">Publications</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/certifications" aria-label="Certifications">Certifications</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/cv" aria-label="CV">CV</a>
      </li>
    </ul>
  </div>
</header>
